h1{
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    background-color: rgb(8, 8, 8);
}
p{
    text-align: center;
}
ul.a {
    list-style-type: circle;
  }
  
  ol.b {
    list-style-type:lower-roman ;
  }